<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Authors</title>
</head>
<body>
<h1>Authors</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Books</th>
    <th>Actions</th>
  </tr>
  <tr th:each="author : ${authors}">
    <td th:text="${author.id}"></td>
    <td th:text="${author.name}"></td>
    <td>
      <ul>
        <li th:each="book : ${author.books}" th:text="${book.title}"></li>
      </ul>
    </td>
    <td>
      <a th:href="@{'/authors/edit/' + ${author.id}}">Edit</a>
      <a th:href="@{'/authors/delete/' + ${author.id}}">Delete</a>
    </td>
  </tr>
</table>
<a href="/authors/new-author">Create New Author</a>
<br>
<a href="./books">Books</a>
</body>
</html>
